**/.log
**/__pycache__
**/.env
**/.vscode
**/.sample_data_processed
**/packag
**/node_modules
**/yarn.lock
**/package-lock.json
**/venv
**/sentence_embeddings/data
**/5d_embedder
**/2d_embedder
**/model.safetensors
**/cardiffnlp
**/data
**/GephiVis.class
**/GephiVis.java
**/Main.class
